---
title: "characters"
permalink: /characters/
layout: base.njk
---

<p>You can put some extra blurb here if you want, in the file content/characters.njk! Or delete this text too.</p>

<!-- Don't touch the below unless you know what you're doing! -->
<div class="d-flex">
  {% for character in collections.characters %}
    <div class="card text-center">
      <img class="card-img-top" src="/assets/images/icons/{{ character.data.icon }}" alt="{{character.data.name}}">
      <div class="card-body">
        <a class="btn btn-small btn-secondary" href="{{ character.url }}">{{ character.data.name }}</a>
      </div>
    </div>
  {% endfor %}
</div>