---
title: "home"
permalink: /
layout: base.njk
---

<div class="col-lg-6 col-md-12 px-md-4 px-sm-0 m-auto">
    <div class="card" style="padding:3%;text-align:center;">
        <img eleventy:ignore class="card-img-top" src="https://i.imgur.com/vulCxRe.png" style="margin:auto;max-width:60%;text-align:center;">
        <div style="max-width:100%;margin:3%;border-bottom:1px solid hsla(0,0%,60%,0.125);"></div>
        <div class="card-body">
            <p class="card-text"></p>
            <p>hello i'm toko! enjoy your stay and don't trip on the edge</p>
        </div>
    </div>
</div>